.checkers-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkers-game-board {
    position: relative;
    display: grid;
    width: 800px;
    height: 800px;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(8, auto);
    margin: 20px auto;
    border: #973232 1px solid;
    /* gap: 2px; */
}

.cell.dark {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    width: 100px;
    height: 100px;
}

.cell.light {
    background-color: #a57529;
    width: 100px;
    height: 100px;
}

.checkers-piece {
    margin-left: -35px;
    margin-top: -35px;
}

.checkers-piece.red {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(8, 8, 8, 0.5);
    background-color: red;
}

.checkers-piece.black {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(8, 8, 8, 0.5);
    background-color: black;
}

.checkers-piece.red:focus {
    outline: none;
}