.checkers-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkers-game-board {
    display: grid;
    width: 800px;
    height: 800px;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(8, auto);
    margin: 20px auto;
    border: #973232 1px solid;
    /* gap: 2px; */
}

/* .checkers-cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #973232 1px solid;
    cursor: pointer;
} */

.cell.dark {
    background-color: #0c0c0c;
    width: auto;
    height: auto;
}

.cell.light {
    background-color: #a57529;
    width: 100%;
    height: 100%;
}

.checkers-piece {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(8, 8, 8, 0.5);
    background-color: red;
}