.snake-board {
  position: relative;
  width: 600px;
  height: 600px;
  background-color: #1b1a1a;
  border: 2px solid #707070;
  margin: 20px auto;
}

.snake-game-info {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.snake-game-info h2 {
  font-size: 34px;
}