.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.home-games-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.home-game-card {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  width: 200px;
  text-align: center;
}